<% form_tag "client/products", method: :post do %>
  <div>
    Name: <input type="text" name="name" value="<% @product['name'] %> ">
  </div>
<div>
  Price: <input type="text" name="price" value="<% @product['price'] %> ">
</div>
<div>
  Image_url: <input type="text" name="image_url" value="<% @product['image_url'] %> ">
  </div>
  <div>
    Description: <input type="text" name="description" value="<% @product['description'] %> ">
  </div>
  <input type="submit" value="Create Product">
<!-- </form> -->
<% end %>